.first-p {
    background: red;
  }

  div {
    width: 100px;
    height: 100px;
    background-color: black;
    border-radius: 50px 0 50px 0;
    border-bottom-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-left-radius: 50px;
  }
  
  .shape-3 {
    background-color: red;
  }
